html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../img/bg.png");
    background-size:100% 100%;
}
.header{
    color: white;
    text-align: center;
    height: 110px;
}
.header-title{
    display: inline-block;
}
.header-title h2{
    font-size: 1.7em;
    margin-top: 10px;
}
.header-time{
    position: absolute;
    top: 10px;
    left: 20px;
}
.header-time-day{
    margin-left: 10px;
}
.header-buttons{
    margin-top: 20px;
}
.header-buttons-button{
    width: 7%;
    cursor: pointer;
    display: inline-block;
    border-bottom:1px solid transparent;
    border-image: url("../img/btn_bottom_border.png") 10 10 ;
}

.content{
    width: 100%;
    height: calc(100% - 110px);
    margin-top: -12px;
}

.content-left{
    width: 25%;
    height: 100%;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}
.content-left-top{
    width: calc(100% - 40px);
    height: 55%;
    background-image: url("../img/frame_1.png");
    background-size:100% 100%;
    padding: 20px 20px 0px 20px;
}
.content-left-bottom{
    margin-top: 20px;
    width: calc(100% - 40px);
    height:35%;
    background-image: url("../img/frame_3.png");
    background-size:100% 100%;
    padding: 20px 20px 0px 20px;
}
.content-middle{
    width: calc(50% - 130px);
    height: calc(100% - 20px);
    padding: 20px 20px 0px 20px;
    display: inline-block;
    vertical-align: top;
}
.content-middle-chart-title{
    width: calc(50% - 100px);
    top: 130px;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.content-middle-chart-title>div{
    width: 31%;
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
}
.content-middle-chart-title>div>img{
    vertical-align: middle;
    width: 10%;
}
.content-middle-chart-title>div>span{
    color: white;
    font-size: 13px;
}
.content-right{
    width: 25%;
    height: 100%;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}
.content-right-top{
    width: calc(100% - 40px);
    height: 45%;
    background-image: url("../img/frame_1.png");
    background-size:100% 100%;
    padding: 20px 20px 0px 20px;
}
.content-right-bottom{
    width: calc(100% - 40px);
    height:45%;
    margin-top: 20px;
    background-image: url("../img/frame_1.png");
    background-size:100% 100%;
    padding: 20px 20px 0px 20px;
}

#chart_1{
    width: 100%;
    height: 100%;
}

#chart_2{
    width: 100%;
    height: 100%;
}

#chart_3{
    width: 100%;
    height: 100%;
}

#chart_4{
    width: 100%;
    height: 100%;
}

#chart_5{
    width: 100%;
    height: 100%;
}
.hide{
    display: none;
}