html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background:radial-gradient(circle,rgba(7,26,43,1) 0%,rgba(5,12,20,1) 100%);
}
.hide{
    display: none;
}
.header{
    width: 100%;
    height: 70px;
    background:rgba(255,255,255,0.04);
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.header .view{
    width: 30%;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.header .title{
    width: 39%;
    height: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.header .condition{
    width: 30%;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.header .view > p{
    width:102px;
    font-size:16px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 21px auto;
    line-height:28px;
    display: inline-block;
}
.header .view > button{
    width:70px;
    height:24px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(67,90,104,1);
    border-radius:12px;
    margin: 21px 10px;
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
.header .view > button:hover{
    background:rgba(8,116,117,0.5);
    border:1px solid rgba(91,211,237,1);
    color:rgba(91,211,237,1);
}
.header .title > h4{
    width: 300px;
    cursor: pointer;
    font-size:28px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 21px auto;
    line-height: 28px;
}
.header .condition .select{
    cursor: pointer;
    display: inline-block;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 21px 8px;
    line-height: 28px;
}
.header .condition .select:hover{
    color:rgba(91,211,237,1);
}
.header .condition .select .options{
    text-align: left;
    width: 230px;
    margin-top: 5px;
    position: absolute;
    color:rgba(255,255,255,1);
    font-size:14px;
}
.header .condition .select .options > ul{
    list-style-type:none
}
.header .condition .select .options > ul > li{
    padding-left: 3px;
}
.header .condition .select .options > ul > li:hover{
    color:rgba(91,211,237,1);
    background-color: #152129;
}
.header .condition .select .options > ul > li.active{
    color:rgba(91,211,237,1);
    background-color: #152129;
}

.header .condition .select .options-time{
    margin-left: -40px;
}
.header .condition .select .options-city{
    margin-left: -50px;
}
.header .condition .select .options-type{
    margin-left: -45px;
}
.header .condition .select .options-light{
    margin-left: -40px;
}
.header .condition .select .options-show{
    margin-left: -90px;
}
.header .condition .select .options-more{
    margin-left: -160px;
}